@charset "UTF-8";

/* COMENTÁRIOS */´

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Secular+One&display=swap');


*{
    margin: 0;
    border: 0;
    padding: 0;

}

body{
    background: #3a3a3a;
    font-family: 'Anton', sans-serif;
    font-size: 1em;

}

.container{
    margin: 0 auto;

}

.flex{
    display: flex;
    justify-content: space-between;
}

.botao{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background: #004560;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 25px;

}

/* ====== SMARTPHONE PORTRAIT======*/
header{
    height: 60px;

}

#logo img{
    width: 128px;
    height: 128px;
}

#check{
    display: none;
}

label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0,0,0,0.5);
}

nav ul{
    list-style: none;
    background: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}


#check:checked ~ ul{
    right: 0;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

main{
    height: 75vh;
    background: url(img/banner_front.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;


    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

main h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

main h2{
    font-size: 1em;
    margin: 10px 0px 50px 0px;

}



/* ====== SMARTPHONE LANDSCAPE======*/ 
@media(min-width: 576px){
    body{
        background: #f4f407;
    }

    .container{
        max-width: 540px;
    }

    main h1, main h2{
        text-shadow: #000 0.05em 0.05em 0.05em;
    }
}

/* ====== TABLET PORTRAIT ======*/
@media(min-width: 768px){
    body{
        background: #07c1f4;
    }
    .container{
        max-width: 720px;
    }

    main{
        height: 45vh;
    }

    main h1{
        font-size: 5.5em;
    }

    main h2{
        font-size: 2em;
    }
}
/* ====== TABLET LANDSCAPE ======*/
@media(min-width: 992px){
    body{
        background: #f48d07;
    }
    .container{
        max-width: 960px;
    }

    main{
        height: 70vh;
    }

}


/*============= PC ==============*/
@media(min-width: 1200px){
    body{
        background: #e007f4;
    }
    .container{
        max-width: 1140px;
    }


/* Cabeçalho */

header{
    height: 120px;
}

#logo img{
    width: 128px;
    height: 128px;
    margin-top: 30px;
    margin-left: 20px;
}

label{
    display: none;
}

nav ul{
    position: static;
    height: auto;
    background: transparent;
    margin-top: 50px;
}

nav ul li{
    float: left;
    border: 0;
}

nav ul li a{
    color: #343538;
}

nav ul li a:hover{
    color: #4f2bee;
}

}